[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
qutip = "*"
tqdm = "*"
requests = "*"
bs4 = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.9"
